.root-post .control {
    display: none;
}

.post-button-box {
  position: fixed;
  right: 25px;
  top: 80px;
}

.delete-button-box {
  position: fixed;
  right: 25px;
  top: 160px;
}

.page-content {
  padding: 0px;
}

.at-error {
  height: auto !important;
  width: 100%;
  padding:5px;
  margin: 10px;
}

.create-post, .at-form {
  width: 33%;
  margin: 0 auto 0 auto;
}

.front-page-center {
    text-align: center;
    position: absolute;
    left: 20vw;
    width: 60vw;
}
